<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= pageTitle %></title>
  <script src="https://d3js.org/d3.v5.min.js"></script>

</head>

<body>

  <h1>Hello World</h1>
  <div id="data" data-xaxis="<%= passedUniData %>">
  </div>

  <div id="menus">
    <label for="qualityVariables">Choose a variable:</label>

    <select id='variableDropDown' name="qualityVariables" id="cars">
      <option value="AverageTeachingScore">Average Teaching Score</option>
      <option value="rank2020">2020 Rank</option>
      <option value="rank2019">2019 Rank</option>
      <option value="rank2018">2018 Rank</option>
      <option value="rank2017">2017 Rank</option>
      <option value="%SatisfiedwithTeaching">Teaching Satisfaction</option>
      <option value="%Satisfiedwithcourse">Course Satisfaction</option>
    </select>
  </div>

  <svg id="chart" height="780" width="1620"></svg>

  <div>
  </div>

</body>
<script>
  const dataDiv = document.querySelector('#data');
  let uniData = dataDiv.dataset.xaxis;
  uniData = JSON.parse(uniData); // NEED TO Unconvert from JSON obj to String for to manipulate the array.

  const svg = d3.select('#chart');

  const svgHeight = parseFloat(svg.attr('height'));
  const svgWidth = parseFloat(svg.attr('width'));


  const render = (data) => {
    //Value Accessors to avoid duplication of code, and helps when wanting to change the arguments passed below:
    const xValue = (d) => d.name;
    const yValue = (d) => d.AverageTeachingScore;

    data.forEach((d) => {
      console.log(d.AverageTeachingScore);
      console.log(typeof d.AverageTeachingScore)
    });
    ;
    const margin = {
      top: 60,
      right: 40,
      bottom: 60,
      left: 120
    }
    const innerHeight = svgHeight - margin.top - margin.bottom;
    const innerWidth = svgWidth - margin.left - margin.right;

    //Scales
    const xScale = d3.scaleBand()
      .domain(data.map(xValue))
      .range([0, innerWidth])
      .padding(0.1);
    const yScale = d3.scaleLinear()
      .domain([0, d3.max(data, yValue)])
      .range([innerHeight, 0]);

    //Axis
    const yAxis = d3.axisLeft(yScale)
      .tickSizeOuter(0)
      .tickSize(-innerWidth)
      .tickFormat(d3.format('.0s'));
    const xAxis = d3.axisBottom(xScale)
      .tickSizeOuter(0)
      .tickFormat("");

    //Margins & Appending/Positioning of Axis
    const chartBarsG = svg.append('g')
      .attr('transform', `translate(${margin.left}, ${margin.top})`);
    const yAxisG = chartBarsG.append('g')
      .call(yAxis);
    yAxisG.append('text')
      .text('Avereage')
      .attr('fill', 'black')
      .attr('x', -45)
      .attr('y', innerHeight / 2);
      yAxisG.append('text')
      .text('Teaching')
      .attr('fill', 'black')
      .attr('x', -45)
      .attr('y', innerHeight / 2 + 10);
      yAxisG.append('text')
      .text('Score')
      .attr('fill', 'black')
      .attr('x', -45)
      .attr('y', innerHeight / 2 + 20);

    const xAxisG = chartBarsG.append('g')
      .call(xAxis)
      .attr('transform', `translate(0, ${innerHeight})`);
    xAxisG.append('text')
      .text('Universities')
      .attr('fill', 'black')
      .attr('x', innerWidth / 2)
      .attr('y', 40);

    let bars =  chartBarsG.selectAll('rect')
      .data(data)
      

      bars.exit().
      remove();

      bars.enter()
      .append('rect')
      .merge(bars)
      .attr('x', (d) => xScale(xValue(d)))
      .attr('width', xScale.bandwidth())
      .attr('height', (d) => innerHeight - (yScale(yValue(d))))
      .attr('y', (d) => yScale(yValue(d)));

    chartBarsG.append('text')
      .attr('x', innerWidth / 2)
      .attr('y', -margin.top / 2)
      .text('University Average Teaching Scores');
  };
  render(uniData);













  // uniData.forEach((d) => {
  //   console.log(d.rank2020);
  // });
  // d3.select('#chart')
  //   .selectAll('p')
  //   .data(uniData)
  //   .enter()
  //   .append('p')
  //   .text(data => data.rank2020);
</script>

</html>