<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hompage Ranking Data App</title>
</head>
<body>
  <h1>UK University Ranking Data Comparison App</h1>

  <p>Select which university league tables you wish to view or select a comparison overview of all three league tables.</p>

  <div id = buttons>
    <button><a href = "/guardianPCP">The Guardian Ranking Data</a></button>
    <button><a href = "/timesPCP">The Times Ranking Data</a></button>
    <button><a href = "/completeUniPCP">The Complete University Guide Ranking Data</a></button>    <button><a href = "/">Rankings Comparison</a></button>
  </div>
  
</body>
</html>