<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>UK University Ranking Data Comparison App</h1>

  <p>Select which university league tables you wish to view or select a comparison overview of all three league tables.</p>

  <div id = buttons>
    <button><a href = "/parallelCoordinatesPlot">The Guardian Ranking Data</a></button>
    <button><a>The Times Ranking Data</a></button>
    <button>The Complete University Guide Ranking Data</button>
  </div>
  
</body>
</html>