<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Homepage</title>
  <link rel="stylesheet" href="/css/defaults.css">
  <link rel="stylesheet" href="/css/index.css">
</head>

<body>
  <div id="header">
    <h1 id="header__h1">Jeremy Elliott</h1>
  </div>

  <div id="navBar">
    <ul id="navBar__options">
      <a class="anchor" href='#aboutMeWrapper'>
        <li class=navBar__option>About Me</li>
      </a>
      <a class="anchor" href="#portfolioWrapper">
        <li class=navBar__option>Portfolio</li>
      </a>
      <a class="anchor" href='#cvWrapper'>
        <li class=navBar__option>CV</li>
      </a>
    </ul>
  </div>

  <div class="sectionWrapper" id="aboutMeWrapper">
    <div id="aboutMeWrapper__textWrapper">

      <h2 class="sectionWrapper__h2">About Me</h2>


      <p id="aboutMeWrapper__p">A recent Msc computer science graduate from Newcastle university on track to receive a distinction
        with a keen interest data analytics and web development. Comfortable operating in unfamiliar enivornments reflected in my move from an economics undergraduate degree to a computer science postgraduate degree. <br><br>

        The masters programme has exposed me to a wide variety of programming languages, design patterns & software
        development models. This has equipped me with a broad range of tools to problem solve by developing clean,
        testable and high-quality code.
      </p>

      <p id="portfolioWrapper__pCloser">Please feel free to explore my website which includes my CV and my latest
        project
        seen in the portfolio section.</p>

      <div id="portfolioWrapper__educationWrapper">
        <p id="portfolioWrapper__educationHeader">Education:</p>
        <p id="portfolioWrapper__education">
          Msc Computer Science - Newcastle University<br />
          BA Hons Business Econommics - Lancaster University<br />
          BA Hons Business Administration (1st year only) - University of Kent<br />
        </p>
      </div>

      <div id="portfolioWrapper__employmentWrapper">
        <p id="portfolioWrapper__employmentHeader">Employment History:</p>
        <p id="portfolioWrapper__employment">
          Fund/Client Administrator - Bank of New York Mellon<br />
          Summer Intern (E-Commerce) - JAVARA INDIGENOUS INDONESIA<br />
        </p>
      </div>
    </div>

    <div id="portfolioWrapper__skillDiv">
      <p id="portfolioWrapper__skillListDesc">Skills</p>
      <ul id="portfolioWrapper__skillList">
        <li>JavaScript</li>
        <li>Node.js</li>
        <li>Java</li>
        <li>React.js</li>
        <li>Linux Bash</li>
        <li>HTML5</li>
        <li>D3.js</li>
        <li>CSS3</li>
        <li>Git</li>
        <li>AWS</li>
        <li>Github</li>
        <li>MySQL</li>
        <li>FireBase</li>
        <li>Android Studio</li>
      </ul>
    </div>
  </div>

  <br height="18px">

  <div class="sectionWrapper" id="portfolioWrapper">
    <div class="sectionWrapper__textWrapper">
      <h2 class="sectionWrapper__h2">Portfolio</h2>

      <div id="portfolioWrapper__info">
        <h3 id="portfolioWrapper__info__h3">Visualising University Ranking Data Web App</h3>
        <p id="portfolioWrapper__info_p">Supporting university comparison across 3 different league tables through data
          visaulisations</p>
      </div>

      <div id="portfolioWrapper__buttonAndImg">
        <div id="portfolioWrapper__ButtonWrapper">
          <a class="anchor" href="/uniRankHome">
            <p id="portfolioWrapper__ButtonWrapper__Button">Take a Look ></p>
          </a>
        </div>

        <div id="portfolioWrapper__ImgWrapper">
          <a class="anchor" href="/uniRankHome">
            <img id="uniRankImg" src="res/graduation.png">
          </a>
        </div>
      </div>
    </div>


    <p id="portfolioWrapper__techListDesc">Tech used </p>
    <ul id="portfolioWrapper__techList">
      <li>JavaScript</li>
      <li>HTML5</li>
      <li>CSS3</li>
      <li>MySQL</li>
      <li>Node.js</li>
      <li>D3.js</li>
      <li>AWS (ECB2 + RDS)</li>
    </ul>

    <br>    <br>    <br>
    <br height = 4px>

    <div id="reactList_section" class="sectionWrapper__textWrapper">

      <div id="portfolioWrapper__info">
        <h3 id="portfolioWrapper__info__h3">React To do List App</h3>
        <p id="portfolioWrapper__info_p">To do list application that dynamically renders data and saves to local storage
        </p>
      </div>

      <div id="portfolioWrapper__buttonAndImg">
        <div id="portfolioWrapper__ButtonWrapper">
          <a class="anchor" href="https://jeremyelliott1.github.io/react-to-do-list/">
            <p id="portfolioWrapper__ButtonWrapper__Button">Take a Look ></p>
          </a>
        </div>

        <div id="portfolioWrapper__ImgWrapper">
          <a class="anchor" href="https://jeremyelliott1.github.io/react-to-do-list/">
            <img id="uniRankImg" src="res/React-icon.svg">
          </a>
        </div>
      </div>
    </div>

    <p id="portfolioWrapper__techListDesc">Tech used </p>
    <ul id="portfolioWrapper__techList">
      <li>React.js</li>
      <li>JavaScript</li>
      <li>HTML5</li>
      <li>CSS3</li>
    </ul>
  </div>

  </div>

  <br height="18px">
  <div class="sectionWrapper" id="cvWrapper">
    <a class="anchor" id=CvWrapper__downloadButton href="/downloadCV">
      <p>DownloadCV</p>
    </a>
  </div>
</body>

</html>