<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Homepage</title>
  <link rel="stylesheet" href="/css/defaults.css">
  <link rel="stylesheet" href="/css/index.css">
</head>

<body>
  <div id="header">
    <h1 id="header__h1">Jeremy Elliott</h1>
  </div>

  <div id="navBar">
    <ul id="navBar__options">
      <li class=navBar__option>About Me</li>
      <li class=navBar__option>CV</li>
      <li class=navBar__option>Projects</li>
    </ul>
  </div>


  <a href="/uniRankHome">
    <button>Uni Ranks App</button>
  </a>

</body>

</html>