h1 #providerTitle {
  color: rgb(23, 117, 240);
}

h1 {
  color: black;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 50px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
}

div.tooltip {	
  position: absolute;			
  text-align: center;			
  width: 75px;					
  height: 38px;					
  padding: 2px;				
  font: 12px sans-serif;		
  background: lightsteelblue;	
  border: 0px;		
  border-radius: 8px;			
  pointer-events: none;			
} 

#data{
  display: none;
}

#buttonHome {
  color: #bf2020;
  background: #ffffff;
  padding: 15px;
  border: 4px solid #bf2020;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
}

.guardian path {
  fill: none;
  stroke: rgb(23, 117, 240);
  stroke-width: 6px;
  stroke-opacity: 0.5;
  stroke-linecap: round;
}
.completeUni path {
  fill: none;
  stroke: rgb(62, 150, 81);
  stroke-width: 6px;
  stroke-opacity: 1;
  stroke-linecap: round;
}

svg {
  font: 10px sans-serif;
}

.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
  cursor: move;
}