h1 {
  color: rgb(23, 117, 240);
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 100px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
}

h2 {
  color: rgb(23, 117, 240);
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 40px;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
}

div.tooltip {	
  position: absolute;			
  text-align: center;			
  width: 75px;					
  height: 38px;					
  padding: 2px;				
  font: 12px sans-serif;		
  background: lightsteelblue;	
  border: 0px;		
  border-radius: 8px;			
  pointer-events: none;			
} 

.unSelected {
  fill: rgb(23, 117, 240);
}
.selected {
  fill: rgb(240, 23, 23);
}
#data{
  display: none;
}
