html {
  scroll-behavior: smooth;
}

body
{
    margin: 0;
    padding: 0;
}

p{
  font-family: 'Source Sans Pro', sans-serif;
}

#header {
  display: grid;
  place-items: center;
  margin: 0 auto;
  width: 100%;
  background-color: #272727;
}

#header__imgWrapper{
  position: relative; 
  width: 1400;
}

#header__imgWrapper__img {
  position: relative;
}

#header__square {
  position: absolute;
  display: flex;
  top: 0; 
  right: 0;
  background-color: lightslategrey;
  height: 100%;
  width: 40%;
  opacity: 0.8;
}
 
#header__square__h1{
  position: absolute;
  margin: auto;
  margin-top: 3rem;
  width: 100%;
  color: #ffffff;
  text-shadow: 2px 2px #000000; 
  font-family: 'Raleway',sans-serif; 
  font-size: 46px; 
  font-weight: 800; 
  line-height: 72px; 
  text-align: center; 
  text-transform: uppercase;
}

#header__descWrapper {
  margin: auto;
  height: 60%;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}

#header__descWrapper__p {
  font-size: 24px;
  text-align: center;
  margin-top: 18rem;
  margin-left: 2rem;  margin-left: 2rem;
  color: #ffffff;
}

#header__descWrapper__p2 {
  font-size: 24px;
  text-align: center;
  margin-top: 12rem;
  margin-left: 2rem;  margin-left: 2rem;
  color: #ffffff;
}

#header__buttonWrapper{
  position: absolute;
  display: grid;
  place-items: center;
  bottom: 0;
  margin-bottom: 3rem;
  width: 100%;
}

#header__buttonWrapper_button{
  height: 100px;
  width: 100px;
  background-color: rebeccapurple;
  border-radius: 50%;
  position: relative;
  left: auto; right: auto;
  margin-bottom: 6rem;
  text-align: center;
  font-size: 75px;
  font-weight: bolder;
  color: #ffffff;
  text-decoration: none;
}

#cardsDesc {
  font-size: 24px;
  text-align: center;
  margin-top: 10rem;
  margin-bottom: 10rem;
}

#cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* background-color: cadetblue; */
  margin-bottom: 10rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: larger;
  height: 20rem;
    /* background-color: darkblue; */
}

.card__imgWrapper {
  height: 20%;
  /* background-color: peachpuff; */
}

.card__imgWrapper img {
  display: block;
  margin: auto;
}

.card button {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border: 4px solid;
  border-radius: 6px;
  background-color: white;
  height: 30px;
}

button:hover { color: #1c1c1c; text-decoration: underline; background-color: wheat; }

.cards__card__text {
  margin: 0;
}

#guardianButton{
  border-color:  rgb(23, 117, 240);
}

#sundayTimesButton{
  border-color:  rgb(107, 76, 154);
}

#CUGButton{
  border-color:  rgb(62, 150, 81);
}

/* 
#272727 - Black
#747474 - Grey
#FF652F - Orange
#FFE400 - Yellow
#14A76C - Green 
*/


