html {
  scroll-behavior: smooth;
}

body{
  min-width: 1100px;
}

p,
h2,
h3 {
  color: white;
}

#header {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #a9a9a9;
}

#header__h1 {
  font-size: 38px;
  color: #39a0ca;
}

#navBar {
  display: flex;
  justify-content: space-around;
}

#navBar__options {
  display: flex;
  flex-direction: row;
}

.anchor {
  text-decoration: none;
  color: black;
}

.anchor:hover {
  color: #39a0ca;
}

.anchor:active {
  color: white;
}

.navBar__option {
  padding-left: 5rem;
  padding-right: 5rem;
  font-size: x-large;
  list-style-type: none;
}

.sectionWrapper {
  height: 40rem;
  background-color: #161748;
}

.sectionWrapper__h2 {
  padding-top: 2rem;
}

#portfolioWrapper__info__h3 {
  padding-top: 1rem;
}

#portfolioWrapper__info_p {
  padding-top: 1rem;
}

#portfolioWrapper__buttonAndImg {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
}

#portfolioWrapper__ButtonWrapper {
  width: 50%;
  height: 15rem;
}

#portfolioWrapper__ButtonWrapper__Button {
  padding-top: 7rem;
  padding-left: 20%;
  font-weight: bolder;
}

#portfolioWrapper__ImgWrapper {
  width: 50%;
  height: 15rem;
}

#uniRankImg {
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
}

#portfolioWrapper__techListDesc {
  margin-left: 20%;
}

#portfolioWrapper__techList {
  margin-left: 20%;
  padding-top: 2rem;
  display: flex;
  flex-direction: row;
}

#portfolioWrapper__techList li {
  color: white;
  margin-left: 1.5rem;
}

.sectionWrapper__textWrapper {
  padding-left: 15%;
  padding-right: 15%;
}

#portfolioWrapper__skillListDesc {
  padding-top: 2rem;
}

#portfolioWrapper__skillList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 15rem;
}

#portfolioWrapper__skillList li {
  margin: 1rem;
  min-width: 5rem;
  color: white;
}

#aboutMeWrapper__p {
  padding-top: 2rem;
  word-spacing: 3px;
}

#portfolioWrapper__pCloser {
  padding-top: 2rem;
  word-spacing: 3px;
}

#portfolioWrapper__educationWrapper {
  padding-top: 3rem;
}
#portfolioWrapper__educationHeader {
  padding-bottom: 1rem;
}

#aboutMeWrapper {
  display: flex;
  flex-wrap: wrap;
}

#aboutMeWrapper__textWrapper {
  width: 45%;
  margin-left: 20%;
}

#portfolioWrapper__skillDiv {
  width: 20%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 3.6rem;
}

#portfolioWrapper__employmentWrapper {
  margin-top: 3rem;
}

#portfolioWrapper__employmentHeader {
  padding-bottom: 1rem;
}

#cvWrapper {
  display: grid;
  place-items: center;
}

#CvWrapper__downloadButton{
  display: grid;
  place-items: center;
  text-decoration: none;
  color: white;
  font-size: xx-large;
  background-color: grey;
  height: 20%;
  width: 18%;
  min-width: 200px;
  border-radius: 25%/50%;
}


/* 
Green Treeline: #478559

Purple baseline: #161748

Pink highlight: #f95d9b

Bluewater lowlight: #39a0ca
*/
