h1 {
  color: rgb(0, 180, 0);
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 100px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
}

div.tooltip {	
  position: absolute;			
  text-align: center;			
  width: 60px;					
  height: 28px;					
  padding: 2px;				
  font: 12px sans-serif;		
  background: lightsteelblue;	
  border: 0px;		
  border-radius: 8px;			
  pointer-events: none;			
} 

.unSelected {
  stroke: rgb(0, 70, 0);
  fill: none;
  opacity: 0.3;
}

.selected {
  stroke: rgb(240, 23, 23);
  opacity: 1;
  stroke-width: 5px;
}

#data{
  display: none;
}