h1 #providerTitle {
  color: rgb(107, 76, 154);
}

h1 {
  color: black;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 50px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
}

div.tooltip {	
  position: absolute;			
  text-align: center;			
  width: 75px;					
  height: 38px;					
  padding: 2px;				
  font: 12px sans-serif;		
  background: lightsteelblue;	
  border: 0px;		
  border-radius: 8px;			
  pointer-events: none;			
} 

#data{
  display: none;
}

#buttonHome {
  color: #bf2020;
  background: #ffffff;
  padding: 15px;
  border: 4px solid #bf2020;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
}

#buttonPannel{
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.foreground path {
  fill: none;
  stroke: rgb(107, 76, 154);
}
.background path {
  fill: none;
  stroke: #ddd;
  shape-rendering: crispEdges;
}

.foreground .highlighted {
  stroke: rgb(240, 23, 23);
  fill: none;
  opacity: 1;
  stroke-width: 5px;
}

svg {
  font: 10px sans-serif;
}

.brush .extent {
  fill-opacity: .3;
  stroke: #f6ff;
  shape-rendering: crispEdges;
}
.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
  cursor: move;
}